nav.nav.fixed-top
    div.logo
        a(href="/") Boda-Boda Banja
    div.main_list#mainListDiv
        ul.navlinks.justify-content-end
            li
                a(href="/") Home
            li
                a(href="/salesExec/salesExecList") Supervisors
            li
                a(href="/customer/customerList") Customers
            li
                a(href="#") Contact