nav.nav
    div.container
        div.logo
            a(href="#") Boda-Boda Banja
        div.main_list#mainListDiv
            ul.navlinks
                li
                    a(href="#") About
                li
                    a(href="#") Portfolio
                li
                    a(href="#") Services
                li
                    a(href="#") Contact