//- extends layout

block title
    h2 Welcome admin #{name}
    
        h4
            a(href='/salesExec/salesExecList') Sales Executives List
        h2
            a(href='/salesExec') Register New Sales Executive