<!DOCTYPE html>
<html>
	<head>
		<title>Home &raquo; Boda-Boda Banja</title>	
		<link rel="stylesheet", href="./css/bootstrap/bootstrap.css">
		<link rel="stylesheet", href="./css/font-awesome-4.7.0/css/font-awesome.css">
		<link rel="stylesheet", href="./css/style.css">
	</head>
	<body>
		<div class="container">
			<nav class="nav">
				<div class="container">
					<div class="logo">
						<a href="#">Boda-Boda Banja</a>
					</div>
					<div id="mainListDiv" class="main_list">
						<ul class="navlinks">
							<li><a href="#">About</a></li>
							<li><a href="#">Portfolio</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Sign In</h3>
					</div>
					<div class="card-body">
						<form action="/" method="POST">
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="email" name="email" id="email" class="form-control" placeholder="username">
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" name="password" id="password" class="form-control" placeholder="password">
							</div>
							<div class="form-group">
								<input type="submit" value="Login" class="btn float-right login_btn">
							</div>
						</form>
					</div>
					<div class="card-footer">
						<div class="d-flex justify-content-center links">
							<a href="#">Sign Up</a>
						</div>
						<div class="d-flex justify-content-center">
							<a href="#">Forgot your password?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer d-flex justify-content-center">
			<footer>&copy; Boda-Boda Banja 2020</footer>
		</div>
	</body>
</html>