<!DOCTYPE html>
<html lang="en">
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Boda-Boda Banja &raquo; Home
    link(rel="stylesheet" href="")
body
    div.container
        h2 Login
        div.form-group
            form(action="/" method="POST")
                ul(style="list-style: none;")
                    li 
                        label(for="email") Email:
                    li
                        input.form-control(type="email" name="email" id="email" placeholder="Enter Your Email")
                    li 
                        label(name="password" for="password") Password:
                    li
                        input.form-control(name="password" type="password")
                    br
                    input.form-control.btn.btn-primary(type="submit" value="Login")
        //- div.form-group    
        //-     form(method="GET" action="/registerExec")   
        //-         button.btn.btn-dark.btn-block(type="submit") Register