doctype
html
	head
		include components/head
	body
		div.container
			div.row
				div.col
					include components/nav					
			div.row
				div.col
					h1.heading New Sales Executive Registration Form
					div.main-agileinfo
						div.agileits-top
							form#myForm(action="/salesExec" method="POST" name="contactForm")
								input.text#fname(type="text" name="firstName" placeholder="First Name" minlength="2", maxlength="15" pattern="^[a-zA-Z ]*$", title="Field should contain only alphabets" required)
								p.error#fnameErr
								input.text#lname(type="text" name="lastName" placeholder="Last Name" minlength="2", maxlength="15" pattern="^[a-zA-Z ]*$", title="Field should contain only alphabets" required)
								div.error#lnameErr
								label Gender:
								label.radio 
									small Female
								input#fgender(type="radio", required name="gender" value="female")
								label.radio 
									small Male
								input#mgender(type="radio", required name="gender" value="male")
								div.error#genderErr
								label Date of Birth:
								input.date#dob(type="date" name="birthday" placeholder="Birth Day" required)
								div.error#dobErr
								input.email#email(type="email" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Enter valid email address" required)
								div.error#emailErr
								input.number#phone(type="tel" name="phone" placeholder="Phone Number" minlength="10", maxlength="10", pattern="^07[0-9]{8}$", title="Enter format 07********" required)
								div.error#phoneErr
								input.text#pwd(type="password" name="password" placeholder="Password" minlength="6", maxlength="12" required)
								div.error#pwdErr
								label Role:
								label.radio 
									small Admin
								input#role(type="radio", required name="role" value="admin")
								label.radio 
									small Supervisor
								input#role(type="radio", required name="role" value="salesExec")
								div.error#roleErr
								label Registration Date:
								input.date(type="date" name="updated_at" placeholder="" required)
								div.error#regdateErr
								input.text#id(type="text" name="sales_id" placeholder="ID" required)
								div.error#idErr
								select#supervisor(name="supervisor" required)
									option(value='none') Choose Supervisor
									option(value='John') John
									option(value='Doe') Doe
								input.number#wDays(type="number" name="numWorkingDays" placeholder="Number of Work Days" required="" pattern="{1,7}", min="1", max="7", title="These are number of working days in a week")
								div.error#wDaysErr
								input(type="submit" value="Register")
								input(type="reset" value="Clear")
								//- onclick="formValidate()"
		ul.bubbles
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		include components/footer